<!DOCTYPE html>
<html>
<head>
  <title>GeoGebra - Save JSON to File</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="utf-8"/>
  <script src="https://www.geogebra.org/apps/deployggb.js"></script>
  <style>
    body {
      margin: 0;
      font-family: sans-serif;
    }
  </style>
</head>
<body>

  <div id="ggb-element"></div>
  <script>
    var ggbApplet;

    var params = {
      "width":2200,
      "height":1700,
      "errorDialogsActive":true,
      "useBrowserForJS":true,
      "showMenuBar":true,
      "showToolBar":true,
      "showAlgebraInput":true,
      "language":"ru",
      "borderColor":null,
      "appletOnLoad": function(api) {
        api.evalCommand("{{ initial_command }}"); 
        api.setGridVisible(false);
        api.setAxesVisible(false);
        sendJSONToServer();
      }
    };

    window.addEventListener("load", function() {
      ggbApplet = new GGBApplet(params, true);
      ggbApplet.inject('ggb-element');

    });

    async function sendJSONToServer() {
      if (ggbApplet) {
        var jsonData = ggbApplet.getFileJSON();
        console.log("JSON Data:", jsonData);
        try {
          
          const response = await fetch('/get_geogebra_json', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
          });

          const data = await response.json();
        } catch (error) {
          console.error("Error sending JSON:", error);
        }
      }
    }
  </script>

</body>
</html>